In [30]:
import json
import requests
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy

In [31]:
testing_sites_df =  pd.read_csv('https://raw.githubusercontent.com/dcrago/Team50_Project/main/COVID-19%20Testing%20Locations%20Symbolized%20by%20Test%20Type.csv?token=ARUSVWL2E75VLQXSQ5HVWPTAA6EAG')

HTTPError: HTTP Error 404: Not Found

In [ ]:
testing_sites_df.drop(columns = ['Owner Name','Phone','Website','Operational Hours','Vehicle Capacity','CreationDate','Drive-through','Appointment Only','Referral Required','Call first','Virtual/Telehealth Screening','Local Health Department URL','Vehicle Required','Offering same-day diagnostic (not antibody) results','Offering Take-Home Test','Status Color'], inplace = True)
testing_sites_df.drop(columns = ['Public Form Submission','Minimum Age','Wheelchair accessibility ','Accessibility Support'], inplace = True)

In [ ]:

testing_sites_df['county']= testing_sites_df['County']
testing_sites_df
testing_sites_df.sort_values(by ='County')

In [ ]:
testing_sites_df['county_states']= testing_sites_df['county'] + ' , ' + testing_sites_df['State or Territory']
testing_sites_df

In [ ]:
_ = testing_sites_df['county_states'].unique
_

In [32]:
Covid_data = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv")

In [33]:
asthma = pd.read_csv('500_Cities__Current_asthma_among_adults_aged___18_years.csv')

In [34]:
Covid_data['mortality'] = Covid_data['deaths']/Covid_data['cases']
Covid_data.tail()

              date      county    state     fips  cases  deaths  mortality
943228  2021-01-18  Sweetwater  Wyoming  56037.0   3312    26.0   0.007850
943229  2021-01-18       Teton  Wyoming  56039.0   2753     4.0   0.001453
943230  2021-01-18       Uinta  Wyoming  56041.0   1833     9.0   0.004910
943231  2021-01-18    Washakie  Wyoming  56043.0    843    23.0   0.027284
943232  2021-01-18      Weston  Wyoming  56045.0    602     4.0   0.006645

In [ ]:
testing_sites_covid = Covid_data.merge(testing_sites_df,
    how='inner',
    on = 'county'
)

testing_sites_covid

In [ ]:
mort_county.corr()[['asthma_value_times_count', 'confirmed_deaths']]

In [35]:
asthma['state'] = asthma['StateDesc']
asthma['asthma_value_times_count'] = (asthma['Data_Value'] * asthma['PopulationCount'])/100
asthma['asthma_value_times_count']

0         528.612
1        5524.416
2         478.986
3         359.048
4         244.664
5         602.217
6         533.088
7         129.114
8         208.284
9         129.642
10        199.088
11        430.248
12       6983.556
13        301.770
14        858.104
15        477.752
16        122.636
17        486.128
18        298.067
19        448.128
20        565.785
21        521.489
22        267.696
23        565.779
24        545.008
25        315.375
26        538.160
27        152.724
28        195.306
29        378.990
           ...
28976     462.580
28977    6506.056
28978     655.820
28979     792.820
28980     687.810
28981     170.655
28982     399.000
28983     375.800
28984     363.900
28985     142.784
28986     311.328
28987         NaN
28988      94.554
28989     447.282
28990      98.560
28991      87.045
28992     223.479
28993    6576.774
28994     433.100
28995     575.920
28996     674.432
28997     378.945
28998     491.470
28999     313.720
29000     346.695
29001     403.506
29002      45.235
29003     135.013
29004     137.800
29005     363.792
Name: asthma_value_times_count, Length: 29006, dtype: float64

In [36]:
asthma.head()

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text,state,asthma_value_times_count
0,2017,GA,Georgia,Columbus,Census Tract,BRFSS,Health Outcomes,1319000-13215010302,Current asthma among adults aged >=18 Years,%,...,NaN,6293,"(32.5420961469, -84.975715442)",HLTHOUT,CASTHMA,1319000.0,1.321501e+10,Current Asthma,Georgia,528.612
1,2017,GA,Georgia,Johns Creek,City,BRFSS,Health Outcomes,1342425,Current asthma among adults aged >=18 Years,%,...,NaN,76728,"(34.0332991998, -84.2027195506)",HLTHOUT,CASTHMA,1342425.0,NaN,Current Asthma,Georgia,5524.416
2,2017,GA,Georgia,Sandy Springs,Census Tract,BRFSS,Health Outcomes,1368516-13121010119,Current asthma among adults aged >=18 Years,%,...,NaN,4938,"(33.9913040108, -84.3452326148)",HLTHOUT,CASTHMA,1368516.0,1.312101e+10,Current Asthma,Georgia,478.986
3,2017,GA,Georgia,Roswell,Census Tract,BRFSS,Health Outcomes,1367284-13121011423,Current asthma among adults aged >=18 Years,%,...,NaN,4852,"(34.0177367078, -84.3840157981)",HLTHOUT,CASTHMA,1367284.0,1.312101e+10,Current Asthma,Georgia,359.048
4,2017,GA,Georgia,Savannah,Census Tract,BRFSS,Health Outcomes,1369000-13051002300,Current asthma among adults aged >=18 Years,%,...,NaN,2056,"(32.0577200508, -81.1112836355)",HLTHOUT,CASTHMA,1369000.0,1.305100e+10,Current Asthma,Georgia,244.664

In [37]:
asthma1 = asthma.groupby(['state']).sum()
asthma_state_count = asthma1['asthma_value_times_count']

In [38]:
from IPython.display import HTML

In [39]:

census_insurance = pd.read_csv('https://www2.census.gov/programs-surveys/demo/datasets/income-poverty/time-series/data-extracts/2018/cps-asec-bridge-file/hhpub18.csv')
census_insurance.columns
#HCOV NOW_HCOV 
# HTML(filename='www.census.gov/data/tables/time-series/demo/health-insurance/historical-series/hib.html')

Index(['H_IDNUM', 'GEREG', 'GESTFIPS', 'GEDIV', 'HRHTYPE', 'HEFAMINC',
       'H_MONTH', 'H_YEAR', 'H_TENURE', 'H_HHNUM',
       ...
       'THCHCARE_VAL', 'THPROP_VAL', 'GTCBSA', 'GTCO', 'GTCBSAST', 'GTCBSASZ',
       'GTCSA', 'GTMETSTA', 'GTINDVPC', 'MMYY'],
      dtype='object', length=134)

In [40]:
# Covid_data & asthma
var_of_interest= ['confirmed_deaths','confirmed_cases', ]

In [41]:
covid_asthma = pd.merge(asthma_state_count,Covid_data1,
    how="left",                      
    left_on = ['state'],
    right_on = ['state'])
covid_asthma.drop('United States', axis = 0)
covid_asthma

NameError: name 'Covid_data1' is not defined

In [ ]:
covid_asthma.corr()[['asthma_value_times_count', 'confirmed_deaths']]

In [42]:
#not updated through 12/2020
with open('waqi-covid19-airqualitydata-2020.csv') as AQI:
    AQI_older = pd.read_csv(AQI)
AQI_older.head()

        Date Country      City Specie  count    min    max  median  variance
0  2/27/2020      UZ  Tashkent   pm25     24   34.0  147.0    53.0  10221.70
1  3/12/2020      UZ  Tashkent   pm25     24  152.0  201.0   160.0   1304.93
2   8/2/2020      UZ  Tashkent   pm25     24   38.0  119.0    63.0   4586.67
3  8/23/2020      UZ  Tashkent   pm25     24   55.0  159.0    74.0  10854.50
4  10/4/2020      UZ  Tashkent   pm25     24   70.0  157.0    85.0   5356.94

In [56]:
with open('waqi-covid19-airqualitydata-2020.csv') as AQI:
    AQI_old = pd.read_csv(AQI)
AQI_old.head()

        Date Country      City Specie  count    min    max  median  variance
0  2/27/2020      UZ  Tashkent   pm25     24   34.0  147.0    53.0  10221.70
1  3/12/2020      UZ  Tashkent   pm25     24  152.0  201.0   160.0   1304.93
2   8/2/2020      UZ  Tashkent   pm25     24   38.0  119.0    63.0   4586.67
3  8/23/2020      UZ  Tashkent   pm25     24   55.0  159.0    74.0  10854.50
4  10/4/2020      UZ  Tashkent   pm25     24   70.0  157.0    85.0   5356.94

In [57]:
#this takes us to a document where we need to delete the first five rows bc it's just information 
#updated currently woohoo!
with open('AQI.csv') as AQI:
   AQI = pd.read_csv(AQI)
AQI.head()

        Date Country      City Specie  count   min   max  median  variance
0  2/28/2020      CL  Rancagua     co     48   1.0   5.6     2.6     16.79
1  3/27/2020      CL  Rancagua     co     46   4.3   6.2     4.8      2.67
2  6/29/2020      CL  Rancagua     co     48  15.0  28.3    15.9    180.54
3  8/21/2020      CL  Rancagua     co     48   7.2  13.7     9.0     40.98
4  9/29/2020      CL  Rancagua     co     66   6.9   7.8     7.5      0.43

In [61]:
## WE STOPPED HERE
#method to import large AQI dataset that is cutting off our U.S. data is to import by chunks but the process isn't defined
chunksize = 10 **5  ###specifying how many rows you want to read in 10**5 is 100K
for chunk in pd.read_csv('AQI.csv', chunksize=chunksize):
    process(chunk)

NameError: name 'process' is not defined

In [45]:
AQI.columns

Index(['Date', 'Country', 'City', 'Specie', 'count', 'min', 'max', 'median',
       'variance'],
      dtype='object')

In [47]:
AQI_US = AQI.loc[AQI['Country'] == 'US']
AQI_US

Empty DataFrame
Columns: [Date, Country, City, Specie, count, min, max, median, variance]
Index: []

In [51]:
AQI['Country'].unique()

array(['CL', 'CR', 'HU', 'ML', 'MX', 'PH', 'PL', 'CW', 'DK', 'JO', 'LK',
       'MK', 'CZ', 'GH', 'JP', 'KG', 'KR', 'KZ', 'MY', 'SG', 'TJ', 'BO',
       'IL', 'IT', 'RO', 'SV', 'TM', 'BD', 'EC', 'GB', 'GT', 'ID', 'IE',
       'IS', 'RU', 'LA', 'NZ', 'TR', 'BR', 'IQ', 'MM', 'AF', 'CN'], dtype=object)

In [27]:
pd.unique(AQI_US['Specie'])

array(['so2', 'wind gust', 'wind-gust', 'temperature', 'wind-speed',
       'pm10', 'pm25', 'no2', 'o3', 'pressure', 'dew', 'co', 'humidity',
       'wind speed', 'wd', 'precipitation'], dtype=object)

In [28]:
#lists of countries and cities
print('countries', pd.unique(AQI['Country']))
print('cities', pd.unique(AQI['City']))

countries ['UZ' 'BE' 'BH' 'GB' 'KR' 'TM' 'AU' 'HK' 'NP' 'SG' 'DE' 'RO' 'UG' 'CA' 'KW'
 'PE' 'GT' 'IN' 'PR' 'BG' 'CY' 'DZ' 'EE' 'GE' 'US' 'XK' 'MY' 'PT' 'SV' 'VN'
 'FR' 'PK' 'SA' 'AR' 'BO' 'CN']
cities ['Tashkent' 'Liège' 'Brussels' 'Charleroi' 'Gent' 'Namur' 'Antwerpen'
 'Manama' 'Edinburgh' 'Norwich' 'Liverpool' 'Belfast' 'Coventry' 'Leeds'
 'Cardiff' 'Bristol' 'London' 'Birmingham' 'Sheffield' 'Newport'
 'Leicester' 'Manchester' 'Reading' 'Plymouth' 'Glasgow' 'Preston'
 'Swansea' 'Luton' 'Southend-on-Sea' 'Jeonju' 'Seoul' 'Busan' 'Sejong'
 'Ulsan' 'Yeosu' 'Gwangju' 'Seongnam-si' 'Daejeon' 'Pohang' 'Changwon'
 'Suwon' 'Cheongju-si' 'Chuncheon' 'Daegu' 'Jeju City' 'Incheon' 'Suncheon'
 'Mokpo' 'Andong' 'Ashgabat' 'Sydney' 'Newcastle' 'Launceston' 'Hobart'
 'Darwin' 'Melbourne' 'Canberra' 'Adelaide' 'Brisbane' 'Perth' 'Wollongong'
 'Hong Kong' 'Kathmandu' 'Pokhara' 'Biratnagar' 'Singapore' 'Stuttgart'
 'Münster' 'Köln' 'Kassel' 'Karlsruhe' 'Mainz' 'Dresden' 'Munich' 'Berlin'
 'Düsseldorf' 'Freiburg' 'Wiesbaden' 'Hannover' 'Augsburg' 'Darmstadt'
 'Potsdam' 'Hamburg' 'Ploieşti' 'Craiova' 'Bacău' 'Râmnicu Vâlcea' 'Sibiu'
 'Timişoara' 'Piteşti' 'Arad' 'Cluj-Napoca' 'Bucharest' 'Baia Mare'
 'Oradea' 'Galaţi' 'Braşov' 'Iaşi' 'Constanţa' 'Brăila' 'Kampala'
 'Hamilton' 'Calgary' 'Winnipeg' 'Halifax' 'Kitchener' 'Edmonton' 'Surrey'
 'Mississauga' 'Québec' 'Vancouver' 'Victoria' 'Montréal' 'Toronto'
 'Ottawa' 'Ḩawallī' 'Lima' 'Guatemala City' 'Thrissur' 'New Delhi'
 'Hyderabad' 'Delhi' 'Chandigarh' 'Bhopal' 'Nagpur' 'Lucknow' 'Ghāziābād'
 'Hāpur' 'Gandhinagar' 'Chennai' 'Nashik' 'Mysore' 'Visakhapatnam' 'Mumbai'
 'Jaipur' 'Patna' 'Muzaffarnagar' 'Thiruvananthapuram' 'Bengaluru'
 'Shillong' 'Kolkata' 'San Juan' 'Sofia' 'Burgas' 'Plovdiv' 'Nicosia'
 'Limassol' 'Algiers' 'Tallinn' 'Tbilisi' 'Oklahoma City' 'Raleigh'
 'Memphis' 'Jackson' 'Boston' 'Richmond' 'Portland' 'Boise' 'Austin'
 'Honolulu' 'Fresno' 'Milwaukee' 'Columbia' 'Hartford' 'Washington D.C.'
 'Chicago' 'Houston' 'Indianapolis' 'Atlanta' 'Charlotte' 'Sacramento'
 'Oakland' 'Providence' 'Staten Island' 'Brooklyn' 'Springfield'
 'The Bronx' 'San Jose' 'Los Angeles' 'Detroit' 'Little Rock' 'Baltimore'
 'Phoenix' 'Omaha' 'El Paso' 'Dallas' 'Seattle' 'Manhattan' 'Miami'
 'Jacksonville' 'Las Vegas' 'San Antonio' 'Philadelphia' 'San Diego'
 'Columbus' 'Saint Paul' 'Denver' 'Salt Lake City' 'Albuquerque'
 'San Francisco' 'Salem' 'Madison' 'Nashville' 'Tucson' 'Queens'
 'Tallahassee' 'Fort Worth' 'Pristina' 'Kuantan' 'Miri' 'George Town'
 'Klang' 'Malacca' 'Taiping' 'Alor Setar' 'Kota Bharu' 'Kuching' 'Seremban'
 'Ipoh' 'Johor Bahru' 'Kuala Lumpur' 'Lisbon' 'Funchal' 'San Salvador'
 'Ho Chi Minh City' 'Huế' 'Hanoi' 'Haiphong' 'Hạ Long' 'Tours' 'Marseille'
 'Nîmes' 'Besançon' 'Nantes' 'Rennes' 'Toulouse' 'Nancy' 'Clermont-Ferrand'
 'Paris' 'Lille' 'Orléans' 'Montpellier' 'Lyon' 'Amiens' 'Dijon' 'Rouen'
 'Grenoble' 'Toulon' 'Limoges' 'Caen' 'Perpignan' 'Bordeaux' 'Nice'
 'Saint-Étienne' 'Metz' 'Strasbourg' 'Karachi' 'Peshawar' 'Islamabad'
 'Lahore' 'Riyadh' 'Jeddah' 'Abha' 'Dammam' "Ha'il" 'Buraydah' 'Mecca'
 'Buenos Aires' 'Cochabamba' 'Beijing' 'Jieyang' 'Kunming' 'Hangzhou'
 'Chongqing' 'Qingdao' 'Haikou' 'Ürümqi' 'Qiqihar' 'Guiyang' 'Shenzhen'
 'Yunfu' 'Xuchang' 'Yinchuan' 'Shenyang' 'Lhasa' 'Shanghai' 'Changchun'
 'Foshan' 'Nanning' 'Fushun' 'Hefei' 'Chengdu' 'Hohhot' 'Qinhuangdao'
 'Shijiazhuang' 'Shantou' 'Zhengzhou' 'Nanjing' 'Xining' 'Xi’an' 'Zhuzhou'
 'Wuhan' 'Tianjin' 'Changzhou' 'Nanchang' 'Shiyan' 'Xinxiang' 'Suzhou'
 'Harbin' 'Lanzhou' 'Jinan' 'Changsha' 'Hegang' 'Anyang' 'Wuxi' 'Taiyuan'
 'Guangzhou' 'Fuzhou']

In [29]:
histAQI = pd.read_excel('airqualitytrendsbycity1990-2019.xlsx')
histAQI.head()

,CBSA,Core Based Statistical Area,Pollutant,Trend Statistic,Number of Trend Sites,1990,1991,1992,1993,1994,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,10100,"Aberdeen, SD",PM2.5,Weighted Annual Mean,1.0,NaN,NaN,NaN,NaN,NaN,...,8.700,7.100,7.500,7.300,6.20,6.200,5.40,5.800,6.600,5.900
1,10100,NaN,PM2.5,98th Percentile,1.0,NaN,NaN,NaN,NaN,NaN,...,27.000,18.000,23.000,22.000,17.00,14.000,14.00,13.000,22.000,18.000
2,10420,"Akron, OH",CO,2nd Max,1.0,5.70,3.300,4.100,3.100,5.300,...,1.400,1.000,1.100,0.800,0.80,1.000,1.10,0.900,1.800,1.800
3,10420,NaN,O3,4th Max,2.0,0.09,0.101,0.087,0.093,0.086,...,0.074,0.073,0.072,0.059,0.06,0.065,0.06,0.066,0.068,0.062
4,10420,NaN,PM2.5,Weighted Annual Mean,3.0,NaN,NaN,NaN,NaN,NaN,...,12.400,11.100,10.000,9.700,9.90,10.400,8.20,7.900,7.900,8.200

In [ ]:
histAQI_Year_column = pd.melt(histAQI, id_vars=(['Pollutant','StateAbbr','Trend Statistic']), value_vars=([1990,
                                1991,                          1992,
                                1993,                          1994,
                                1995,                          1996,
                                1997,                          1998,
                                1999,                          2000,
                                2001,                          2002,
                                2003,                          2004,
                                2005,                          2006,
                                2007,                          2008,
                                2009,                          2010,
                                2011,                          2012,
                                2013,                          2014,
                                2015,                          2016,
                                2017,                          2018,
                                2019]), var_name='Year', value_name='Pollutant Value').dropna()
histAQI_Year_column.head()

In [ ]:
cities = histAQI['Core Based Statistical Area']
y = [str(i).split() for i in cities]

states = []
for i in y:
    state = i[-1]
    states.append(state)
histAQI['StateAbbr'] = states

In [ ]:
histAQI.head()

In [50]:
asthma.drop(columns = ['Category','UniqueID','Measure','Short_Question_Text','Data_Value_Footnote','CategoryID','MeasureId','CityFIPS','TractFIPS'], inplace = True)
asthma.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel',
       'DataSource', 'Data_Value_Unit', 'DataValueTypeID', 'Data_Value_Type',
       'Data_Value', 'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Data_Value_Footnote_Symbol', 'PopulationCount', 'GeoLocation', 'state',
       'asthma_value_times_count'],
      dtype='object')

In [ ]:
#putting years in 1 column before merge
asthma_premerge = asthma[['StateAbbr','Year','Data_Value']]
asthma_premerge

In [ ]:
#append adds rows
# histAQI_asthma = histAQI_Year_column.append(asthma_premerge)

#merge combines
AQI_asthma = pd.merge(asthma_premerge,AQI,
    how="left",                      
    left_on = ['StateAbbr'],
    right_on = ['StateAbbr'])                        
AQI_asthma

In [ ]:
histAQI_asthma= histAQI_asthma[histAQI_asthma.StateAbbr != 'US']

In [ ]:
histAQI_asthma

In [ ]:
#copied code to fill in values from histAQI_asthma
sns.lineplot(x = "Year", y = "Pollutant Value", data = histAQI_Year_column)
plt.title('Total Pollutant Values over Time')
plt.show()

In [ ]:
sns.lineplot(x = "Year", y = "Pollutant Value", data = histAQI_Year_column)
plt.title('Total Pollutant Values over Time')
plt.show()

In [ ]:
sns.lineplot(x = "Year", y = "Pollutant Value", data = histAQI_Year_column, hue = "Pollutant")
plt.title('Pollutant Values over Time')
plt.show()

In [ ]:
demographics_data = pd.read_csv("https://data.cdc.gov/resource/vbim-akqf.csv")

In [ ]:
demographics_data.groupby('race_ethnicity_combined').size()

In [ ]:
demographics_data.describe()