In [2]:
from IPython.display import HTML

In [3]:
import json
import requests
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy

In [51]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels
from scipy import stats
from pingouin import pairwise_ttests #this is for performing the pairwise tests

ModuleNotFoundError: No module named 'pingouin'

# Testing Sites

In [6]:
testing_sites_df =  pd.read_csv('testingsites.csv')

In [7]:
testing_sites_df.drop(columns = ['Owner Name','Phone','Website','Operational Hours','Vehicle Capacity','CreationDate','Drive-through','Appointment Only','Referral Required','Call first','Virtual/Telehealth Screening','Local Health Department URL','Vehicle Required','Offering same-day diagnostic (not antibody) results','Offering Take-Home Test','Status Color'], inplace = True)
testing_sites_df.drop(columns = ['Public Form Submission','Minimum Age','Wheelchair accessibility ','Accessibility Support'], inplace = True)

In [8]:

testing_sites_df['county']= testing_sites_df['County']
testing_sites_df
testing_sites_df.sort_values(by ='County')

,Name of Facility,Full Address,Municipality,Owner Type,Daily Testing Capacity,Services Offered,State or Territory,County,Testing Start Date,Testing End Date,Kind of test,Processing location,Facility Type,x,y,county
8858,CHC Enfield,"5 North Main Street, Enfield, CT",Enfield,FQHC,NaN,COVID-19 testing only (no screening),Connecticut,Hartford,11/3/2020,11/3/2020,Molecular,Not Specified,Mobile/Pop-up (short-term event),-8.082311e+06,5160794.778,Hartford
6809,ALBERTSONS 184,"6560 SOUTH FEDERAL WAY, Boise ID, 83716",Boise,Private,NaN,COVID-19 screening and testing,Idaho,Ada,8/16/2020,NaN,Molecular,Offsite Lab,Retail/Pharmacy,-1.293014e+07,5394986.099,Ada
4850,Family Medicine Health Center-Kuna,"708 E Wythe Creek Ct Ste 103, Kuna, ID 83634-5005",Kuna,FQHC,NaN,COVID-19 screening and testing,Idaho,Ada,NaN,NaN,Molecular,Offsite Lab,Clinic/Health Center,-1.295815e+07,5386506.524,Ada
6802,ALBERTSONS 169,"909 EAST PARKCENTER BLVD, Boise ID, 83706",Boise,Private,NaN,COVID-19 screening and testing,Idaho,Ada,8/16/2020,NaN,Molecular,Offsite Lab,Retail/Pharmacy,-1.293219e+07,5401123.670,Ada
3895,Rite Aid/Project Baseline Testing Site,"3250 S Eagle Road Meridian, ID",Meridian,Public-Private Partnership,NaN,COVID-19 screening and testing,Idaho,Ada,NaN,NaN,Molecular,Offsite Lab,Retail/Pharmacy,-1.295245e+07,5399916.908,Ada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10788,CIC Health Middlebury,"154 Creek Rd, Middlebury, VT 05753, USA",Middlebury,Public-Private Partnership,NaN,COVID-19 testing only (no screening),Vermont,NaN,NaN,NaN,Molecular,Offsite Lab,Indoor Non-medical Facility,-8.144216e+06,5465912.348,NaN
10789,CIC Health Brattleboro,"17 Belmont Ave, Brattleboro, VT 05301, USA",Brattleboro,Public-Private Partnership,NaN,COVID-19 testing only (no screening),Vermont,NaN,NaN,NaN,Molecular,Offsite Lab,Indoor Non-medical Facility,-8.077923e+06,5288098.494,NaN
10790,CIC Health Newton,"Riverside MBTA Station Parking Lot, 367 Grove ...",Newton,Public-Private Partnership,NaN,COVID-19 testing only (no screening),Massachusetts,NaN,NaN,NaN,Molecular,Offsite Lab,Indoor Non-medical Facility,-7.931803e+06,5211651.232,NaN
10791,CIC Health Cambridge,"Ground Floor, 245 Main St, Cambridge, MA 02142...",Cambridge,Public-Private Partnership,NaN,COVID-19 testing only (no screening),Massachusetts,NaN,NaN,NaN,Molecular,Offsite Lab,Indoor Non-medical Facility,-7.913119e+06,5215443.009,NaN
10792,CIC Health Providence,"Ground Floor, 225 Dyer St, Providence, RI 0290...",Providence,Public-Private Partnership,NaN,COVID-19 testing only (no screening),Rhode Island,NaN,NaN,NaN,Molecular,Offsite Lab,Indoor Non-medical Facility,-7.949150e+06,5134076.563,NaN

In [9]:
testing_sites_df['county_states']= testing_sites_df['county'] + ' , ' + testing_sites_df['State or Territory']
testing_sites_df

,Name of Facility,Full Address,Municipality,Owner Type,Daily Testing Capacity,Services Offered,State or Territory,County,Testing Start Date,Testing End Date,Kind of test,Processing location,Facility Type,x,y,county,county_states
0,Wheeling Hospital/WVU Hospitals Offsite COVID-...,"Wheeling Park (Near Ice Rink), 1801 National R...",Wheeling,Municipal,NaN,COVID-19 testing only (no screening),West Virginia,Ohio,NaN,NaN,Molecular,Lab (location not specified),Hospital,-8.979782e+06,4874576.993,Ohio,"Ohio , West Virginia"
1,Middleton Family Medicine,"147 South Main Street Middleton, MA 01949",Middleton,Other,NaN,COVID-19 testing only (no screening),Massachusetts,Essex,NaN,NaN,Molecular,Lab (location not specified),Clinic/Health Center,-7.904520e+06,5248669.198,Essex,"Essex , Massachusetts"
2,Central Outreach Wellness Center,"127 Anderson Street, Suite 101 Timber Court Bu...",Pittsburgh,Nonprofit,NaN,COVID-19 screening and testing,Pennsylvania,Allegheny,NaN,NaN,Molecular,Lab (location not specified),Outdoor/Tent,-8.905650e+06,4931349.163,Allegheny,"Allegheny , Pennsylvania"
3,Anthony Wayne Recreation Area,"Palisades Int Interstate Parkway, Exit 17, Bea...",Bear Mountain,State/Territory,NaN,COVID-19 testing only (no screening),New York,Orange,NaN,NaN,Molecular,Lab (location not specified),NaN,-8.240723e+06,5056547.051,Orange,"Orange , New York"
4,Wexford Health + Wellness Pavilion (Allegheny ...,"12311 Perry Highway Wexford, PA 15090",Wexford,Private,NaN,COVID-19 testing only (no screening),Pennsylvania,Allegheny,NaN,NaN,Molecular,Lab (location not specified),Clinic/Health Center,-8.912678e+06,4958745.420,Allegheny,"Allegheny , Pennsylvania"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10799,Kahoka Christian Church,"MO-81, Kahoka, MO 63445",Kahoka,State/Territory,NaN,COVID-19 testing only (no screening),Missouri,Clark,12/7/2020,12/7/2020,Molecular,Offsite Lab,Mobile/Pop-up (short-term event),-1.021017e+07,4927212.539,Clark,"Clark , Missouri"
10800,Marshall County Health Department,"513 6th Street Moundsville, WV 26041",Moundsville,Municipal,NaN,COVID-19 testing only (no screening),West Virginia,Marshall,12/14/2020,12/18/2020,Molecular,Offsite Lab,Mobile/Pop-up (short-term event),-8.988640e+06,4854205.481,Marshall,"Marshall , West Virginia"
10801,Premier Urgent Care,"1301 East 47th Street, Chicago, Il 60653",Chicago,Public-Private Partnership,30.0,COVID-19 screening and testing,Illinois,Cook,10/1/2020,3/31/2021,"Molecular, Antibody, and Antigen",More than one processing location,Urgent Care,-9.751765e+06,5132563.259,Cook,"Cook , Illinois"
10802,The Word Church,"18909 South Miles Road Warrensville Heights, O...",Cleveland,State/Territory,NaN,COVID-19 testing only (no screening),Ohio,Cuyahoga,12/13/2020,12/13/2020,Molecular,Offsite Lab,Medical Center,-9.077688e+06,5076056.620,Cuyahoga,"Cuyahoga , Ohio"
10803,Cherryland Center Mall,"1700 S Garfield Ave, Traverse City, MI, 49686,",Traverse City,Private,NaN,COVID-19 testing only (no screening),Michigan,Grand Traverse,NaN,NaN,Molecular,Offsite Lab,Mobile/Pop-up (short-term event),-9.528718e+06,5579899.940,Grand Traverse,"Grand Traverse , Michigan"

In [10]:
_ = testing_sites_df['county_states'].unique
_

<bound method Series.unique of 0             Ohio , West Virginia
1            Essex , Massachusetts
2         Allegheny , Pennsylvania
3                Orange , New York
4         Allegheny , Pennsylvania
                   ...
10799             Clark , Missouri
10800     Marshall , West Virginia
10801              Cook , Illinois
10802              Cuyahoga , Ohio
10803    Grand Traverse , Michigan
Name: county_states, Length: 10804, dtype: object>

# Covid

In [11]:
Covid_data = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv")

In [12]:
Covid_data['mortality'] = Covid_data['deaths']/Covid_data['cases']
Covid_data.tail()

              date      county    state     fips  cases  deaths  mortality
985419  2021-01-31  Sweetwater  Wyoming  56037.0   3486    32.0   0.009180
985420  2021-01-31       Teton  Wyoming  56039.0   3116     6.0   0.001926
985421  2021-01-31       Uinta  Wyoming  56041.0   1963    12.0   0.006113
985422  2021-01-31    Washakie  Wyoming  56043.0    865    25.0   0.028902
985423  2021-01-31      Weston  Wyoming  56045.0    610     4.0   0.006557

# Merge covid testing sites

In [13]:
testing_sites_covid = Covid_data.merge(testing_sites_df,
    how='inner',
    on = 'county'
)

testing_sites_covid

,date,county,state,fips,cases,deaths,mortality,Name of Facility,Full Address,Municipality,...,State or Territory,County,Testing Start Date,Testing End Date,Kind of test,Processing location,Facility Type,x,y,county_states
0,2020-01-21,Snohomish,Washington,53061.0,1,0.0,0.0,the Everett Clinic Gunderson Building,"3927 Rucker Avenue Everett, WA 98201",Everett,...,Washington,Snohomish,NaN,NaN,Molecular,Lab (location not specified),NaN,-13604420.27,6101023.489,"Snohomish , Washington"
1,2020-01-21,Snohomish,Washington,53061.0,1,0.0,0.0,Everett Clinic Marysville,"4420 76th Street NE Marysville, WA 98270",Marysville,...,Washington,Snohomish,NaN,NaN,Molecular,Offsite Lab,Clinic/Health Center,-13600012.94,6117511.584,"Snohomish , Washington"
2,2020-01-21,Snohomish,Washington,53061.0,1,0.0,0.0,Everett Clinic Harbour Pointe (Mukilteo),"4410 106th Street SW Mukilteo, WA 98275",Harbour Pointe (Mukilteo),...,Washington,Snohomish,NaN,NaN,Molecular,Lab (location not specified),NaN,-13613643.29,6090490.634,"Snohomish , Washington"
3,2020-01-21,Snohomish,Washington,53061.0,1,0.0,0.0,Everett Clinic Smokey Point,"2901 174th Street NE Marysville, WA 98271",Smokey Point,...,Washington,Snohomish,NaN,NaN,Molecular,Offsite Lab,Clinic/Health Center,-13602246.92,6132593.962,"Snohomish , Washington"
4,2020-01-21,Snohomish,Washington,53061.0,1,0.0,0.0,Swedish Edmonds Campus,"21601 76th Ave. W. Edmonds, WA 98026",Edmonds,...,Washington,Snohomish,NaN,NaN,Molecular,Lab (location not specified),NaN,-13618179.88,6074175.770,"Snohomish , Washington"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13099030,2021-01-29,Hayes,Nebraska,31085.0,58,0.0,0.0,Hayes Center - Hayes Center High School,"501 Troth St, Hayes Center NE 69032",Hayes Center,...,Nebraska,Hayes,NaN,NaN,Molecular,Offsite Lab,Outdoor/Tent,-11245261.71,4940499.842,"Hayes , Nebraska"
13099031,2021-01-30,Hayes,Nebraska,31085.0,58,0.0,0.0,Hayes Center High School,"501 Troth St, Hayes Center NE 69032",Hayes Center,...,Nebraska,Hayes,10/12/2020,10/12/2020,Molecular,Offsite Lab,Mobile/Pop-up (short-term event),-11245261.71,4940499.842,"Hayes , Nebraska"
13099032,2021-01-30,Hayes,Nebraska,31085.0,58,0.0,0.0,Hayes Center - Hayes Center High School,"501 Troth St, Hayes Center NE 69032",Hayes Center,...,Nebraska,Hayes,NaN,NaN,Molecular,Offsite Lab,Outdoor/Tent,-11245261.71,4940499.842,"Hayes , Nebraska"
13099033,2021-01-31,Hayes,Nebraska,31085.0,58,0.0,0.0,Hayes Center High School,"501 Troth St, Hayes Center NE 69032",Hayes Center,...,Nebraska,Hayes,10/12/2020,10/12/2020,Molecular,Offsite Lab,Mobile/Pop-up (short-term event),-11245261.71,4940499.842,"Hayes , Nebraska"
13099034,2021-01-31,Hayes,Nebraska,31085.0,58,0.0,0.0,Hayes Center - Hayes Center High School,"501 Troth St, Hayes Center NE 69032",Hayes Center,...,Nebraska,Hayes,NaN,NaN,Molecular,Offsite Lab,Outdoor/Tent,-11245261.71,4940499.842,"Hayes , Nebraska"

In [ ]:
#  mort_county.corr()[['asthma_value_times_count', 'deaths']]

# Asthma

In [15]:
asthma = pd.read_csv('500_Cities__Current_asthma_among_adults_aged___18_years.csv')

In [16]:
asthma['state'] = asthma['StateDesc']
asthma['asthma_value_times_count'] = (asthma['Data_Value'] * asthma['PopulationCount'])/100
asthma['asthma_value_times_count']

0         528.612
1        5524.416
2         478.986
3         359.048
4         244.664
           ...
29001     403.506
29002      45.235
29003     135.013
29004     137.800
29005     363.792
Name: asthma_value_times_count, Length: 29006, dtype: float64

In [17]:
# asthma.drop(columns = ['Category','UniqueID','Measure','Short_Question_Text','Data_Value_Footnote','CategoryID','MeasureId','CityFIPS','TractFIPS'], inplace = True)
asthma.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel',
       'DataSource', 'Category', 'UniqueID', 'Measure', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'PopulationCount',
       'GeoLocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS',
       'Short_Question_Text', 'state', 'asthma_value_times_count'],
      dtype='object')

In [18]:
'''
changed aggfunc to mean because were dealing with percentage value, 
sum misrepresented the data
'''

asthma1 = asthma.groupby(['state']).mean()
asthma_state_count = asthma1['asthma_value_times_count']
asthma1

,Year,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,PopulationCount,CityFIPS,TractFIPS,asthma_value_times_count
state,,,,,,,,
Alabama,2017.0,11.425490,10.760224,12.210084,7.620821e+03,1.383106e+05,1.092529e+09,9.189002e+02
Alaska,2017.0,9.040351,8.621053,9.522807,1.535926e+04,2.030000e+05,2.020002e+09,1.379812e+03
Arizona,2017.0,10.344531,9.794141,10.979785,1.099551e+04,4.530350e+05,4.014536e+09,1.181525e+03
Arkansas,2017.0,9.733594,9.216406,10.329687,1.114484e+04,5.382832e+05,5.111562e+09,1.111260e+03
California,2017.0,8.897829,8.427422,9.427933,1.196123e+04,6.480528e+05,6.054179e+09,1.081963e+03
Colorado,2017.0,9.454213,8.948455,10.052247,1.023229e+04,8.280779e+05,8.040081e+09,1.001540e+03
Connecticut,2017.0,10.980085,10.433051,11.602542,1.107831e+04,9.456635e+05,9.003933e+09,1.199748e+03
Delaware,2017.0,12.065385,11.392308,12.830769,8.175115e+03,1.077580e+06,1.000300e+10,9.842651e+02
District of C,2017.0,10.266111,9.639444,11.047222,9.973309e+03,1.150000e+06,1.100101e+10,1.003154e+03
Florida,2017.0,8.749375,8.273769,9.306025,1.109481e+04,1.243177e+06,1.205946e+10,9.895027e+02
Georgia,2017.0,9.877253,9.292918,10.566738,9.821329e+03,1.327875e+06,1.312410e+10,9.588037e+02
Hawaii,2017.0,8.848729,8.496186,9.244492,1.186565e+04,1.500300e+04,1.500304e+10,1.075026e+03
Idaho,2017.0,9.471233,8.954795,10.076712,1.468865e+04,1.625576e+06,1.600674e+10,1.414893e+03
Illinois,2017.0,9.436790,8.872067,10.102650,9.964732e+03,1.724158e+06,1.706296e+10,9.285785e+02
Indiana,2017.0,11.068843,10.452612,11.792164,1.002270e+04,1.834077e+06,1.808909e+10,1.105926e+03
Iowa,2017.0,9.690594,9.169802,10.308416,9.218900e+03,1.935180e+06,1.912850e+10,9.280620e+02
Kansas,2017.0,9.502903,9.017097,10.074194,9.804207e+03,2.060178e+06,2.015285e+10,9.390508e+02
Kentucky,2017.0,10.698120,10.112406,11.390977,9.960669e+03,2.147388e+06,2.109739e+10,1.072906e+03
Louisiana,2017.0,9.966142,9.334908,10.703937,7.958491e+03,2.245588e+06,2.205007e+10,7.952681e+02
Maine,2017.0,10.359091,9.813636,11.059091,9.026455e+03,2.360545e+06,2.300500e+10,9.309913e+02
Maryland,2017.0,11.478109,10.761692,12.321891,9.222193e+03,2.404000e+06,2.451019e+10,1.047978e+03
Massachusetts,2017.0,11.256863,10.662157,11.959412,1.088302e+04,2.531766e+06,2.501924e+10,1.226017e+03
Michigan,2017.0,12.239153,11.531481,13.058730,8.602836e+03,2.639775e+06,2.613044e+10,1.052045e+03
Minnesota,2017.0,8.173457,7.733642,8.695062,1.003003e+04,2.741231e+06,2.708629e+10,8.135067e+02
Mississippi,2017.0,11.103797,10.379747,11.955696,9.049013e+03,2.834110e+06,2.804991e+10,1.003402e+03
Missouri,2017.0,9.904740,9.343567,10.571106,9.066694e+03,2.949110e+06,2.918601e+10,9.271810e+02
Montana,2017.0,9.414894,8.887234,10.046809,1.068488e+04,3.022919e+06,3.009357e+10,1.029023e+03
Nebraska,2017.0,8.663761,8.178899,9.250000,8.977628e+03,3.134013e+06,3.107276e+10,7.956367e+02
Nevada,2017.0,10.050678,9.542818,10.630081,1.081835e+04,3.246156e+06,3.201033e+10,1.119246e+03
New Hampshire,2017.0,11.100000,10.482353,11.809804,1.153288e+04,3.347148e+06,3.301101e+10,1.268147e+03
New Jersey,2017.0,9.969255,9.408075,10.592857,1.098013e+04,3.444788e+06,3.402043e+10,1.066895e+03
New Mexico,2017.0,9.806542,9.310748,10.381776,1.065251e+04,3.522770e+06,3.501285e+10,1.101874e+03
New York,2017.0,10.044032,9.471895,10.700000,1.112021e+04,3.650871e+06,3.605610e+10,1.110515e+03
North Carolin,2017.0,9.820833,9.283460,10.460606,1.001840e+04,3.730061e+06,3.710328e+10,1.034978e+03
North Dakota,2017.0,8.533333,8.003704,9.211111,1.172767e+04,3.825700e+06,3.801701e+10,9.874790e+02
Ohio,2017.0,11.116329,10.480691,11.850894,8.100438e+03,3.926657e+06,3.907169e+10,9.012827e+02
Oklahoma,2017.0,10.470190,9.941015,11.086047,8.429455e+03,4.054075e+06,4.010536e+10,8.910663e+02
Oregon,2017.0,10.383523,9.838068,11.031818,1.072240e+04,4.144214e+06,4.104844e+10,1.182436e+03
Pennsylvania,2017.0,11.165581,10.529302,11.919535,1.044383e+04,4.254907e+06,4.207173e+10,1.190699e+03
Rhode Island,2017.0,12.115094,11.507547,12.813208,1.155838e+04,4.454424e+06,4.400613e+10,1.406954e+03
South Carolin,2017.0,9.938418,9.330508,10.667232,7.839505e+03,4.529606e+06,4.505143e+10,7.863047e+02
South Dakota,2017.0,8.538333,8.070000,9.106667,1.056400e+04,4.656911e+06,4.609928e+10,9.416517e+02
Tennessee,2017.0,10.802294,10.161185,11.550669,1.003466e+04,4.742243e+06,4.710016e+10,1.127711e+03
Texas,2017.0,8.508445,8.013846,9.070998,1.152274e+04,4.833921e+06,4.821554e+10,1.021355e+03
United States,2017.0,8.950000,8.800000,9.150000,3.087455e+08,NaN,NaN,2.763273e+07
Utah,2017.0,9.296813,8.775299,9.919124,1.046002e+04,4.965653e+06,4.903971e+10,1.038111e+03
Vermont,2017.0,11.153846,10.338462,12.161538,9.788538e+03,5.010675e+06,5.000700e+10,1.092510e+03
Virginia,2017.0,10.224376,9.683877,10.857006,1.100226e+04,5.155622e+06,5.171181e+10,1.110135e+03
Washington,2017.0,10.088136,9.603766,10.662335,1.129255e+04,5.352396e+06,5.304173e+10,1.180832e+03
West Virginia,2017.0,11.266667,10.700000,11.933333,5.930769e+03,5.414600e+06,5.403900e+10,7.214060e+02
Wisconsin,2017.0,10.694203,10.070773,11.429710,8.869231e+03,5.548808e+06,5.506773e+10,9.569464e+02
Wyoming,2017.0,9.644444,9.155556,10.188889,9.911000e+03,5.613900e+06,5.602100e+10,9.513017e+02

In [19]:
#putting years in 1 column before merge
#didn't use this df because we have another thats grouped by state
asthma_premerge = asthma[['StateAbbr','Year','Data_Value']]

# Census -people with insurance

In [17]:

census_insurance = pd.read_csv('https://www2.census.gov/programs-surveys/demo/datasets/income-poverty/time-series/data-extracts/2018/cps-asec-bridge-file/hhpub18.csv')
census_insurance.columns
#HCOV NOW_HCOV 
# HTML(filename='www.census.gov/data/tables/time-series/demo/health-insurance/historical-series/hib.html')

Index(['H_IDNUM', 'GEREG', 'GESTFIPS', 'GEDIV', 'HRHTYPE', 'HEFAMINC',
       'H_MONTH', 'H_YEAR', 'H_TENURE', 'H_HHNUM',
       ...
       'THCHCARE_VAL', 'THPROP_VAL', 'GTCBSA', 'GTCO', 'GTCBSAST', 'GTCBSASZ',
       'GTCSA', 'GTMETSTA', 'GTINDVPC', 'MMYY'],
      dtype='object', length=134)

# Merging covid and asthma data

In [20]:
# Covid_data & asthma
var_of_interest= ['confirmed_deaths','confirmed_cases']

In [21]:
asthma1.shape

(52, 8)

In [22]:
Covid_data.shape

(985424, 7)

In [23]:
covid_asthma = pd.merge(asthma1,Covid_data,
    how="left",                      
    left_on = ['state'],
    right_on = ['state']) 
# covid_asthma.drop('United States', axis = 0)
covasdrop= ['fips','Low_Confidence_Limit','High_Confidence_Limit','CityFIPS','TractFIPS','Year','asthma_value_times_count','PopulationCount']
covid_asthma = covid_asthma.drop(columns = covasdrop)
covid_asthma = covid_asthma.rename(columns={'Data_Value':'perc pop with asthma','mortality':'covid mortality'})

In [24]:
asthmamort = covid_asthma.groupby('county').mean()
asthmamort.to_csv('asthmamort.csv')

In [25]:
covid_asthma.corr()[['perc pop with asthma', 'deaths']]

                      perc pop with asthma    deaths
perc pop with asthma              1.000000  0.013247
cases                            -0.019583  0.736938
deaths                            0.013247  1.000000
covid mortality                   0.026534  0.012580

# AQI

In [24]:
# #not updated through 12/2020
# with open('waqi-covid19-airqualitydata-2020.csv') as AQI:
#     AQI_older = pd.read_csv(AQI)
# AQI_older.head()

In [25]:
# with open('waqi-covid19-airqualitydata-2020.csv') as AQI:
#     AQI_old = pd.read_csv(AQI)
# AQI_old.head()

In [26]:
#this takes us to a document where we need to delete the first five rows bc it's just information 
#updated currently woohoo!
AQI = pd.read_excel('AQI_US.xlsx')
AQI.head()
AQI = AQI.sort_values('Date', ascending = False)
AQIbig6list=['so2','pm10','pm25','co','no2','o3']
AQI_big6df= AQI[AQI['Specie'].isin(AQIbig6list)]


# aqigroup=['City','Specie']
# AQI_average_values = AQI_big6df.groupby(by = aqigroup).mean()
# AQI.to_csv('AQI.csv')

In [27]:
'''
Replacing NY buroughs with 'New York' for the merge with city df
'''

NYBur={
    'Manhattan':'New York', 'Brooklyn':'New York','Queens':'New York', 
    'Staten Island':'New York', 'The Bronx':'New York'
}
AQI_big6df['City'] = AQI_big6df['City'].replace(to_replace = NYBur)

<ipython-input-27-63c88c4d3d60>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AQI_big6df['City'] = AQI_big6df['City'].replace(to_replace = NYBur)

In [28]:
AQI_average_values = pd.pivot_table(AQI_big6df, index = ['City'], values = 'median', columns = 'Specie',aggfunc = 'mean')

In [29]:


AQI_average_values['state_name'] = ['New Mexico','Georgia','Texas',
'Maryland','Idaho','Massachusetts', 'North Carolina','Illinois','South Carolina','Ohio','Texas','Colorado','Michigan','Texas',
'Indiana','California','Connecticut','Hawaii','Texas','Indiana','Mississippi','Florida',
'Nevada','Arkansas','California','Wisconsin','Tennessee','Florida','Wisconsin','Tennessee',
'New York','California','Oklahoma','Nebraska','Pennsylvania','Arizona','Oregon',
'Rhode Island','North Carolina','Virginia','California','Minnesota','Oregon','Utah',
'Texas','California','California','California','Washington','Illinois','Florida','Arizona','Maryland']
AQI_average_values

Specie,co,no2,o3,pm10,pm25,so2,state_name
City,,,,,,,
Albuquerque,1.832391,6.692545,29.788175,18.699229,24.411311,1.511667,New Mexico
Atlanta,2.841645,6.257326,19.140206,15.107969,35.149100,0.512658,Georgia
Austin,NaN,3.329897,20.808808,NaN,34.973890,0.410714,Texas
Baltimore,NaN,8.650129,21.242416,11.718579,30.686375,1.695902,Maryland
Boise,2.930848,8.005656,20.900771,19.177835,33.064433,0.740000,Idaho
Boston,2.328021,5.281491,22.412596,NaN,27.079692,1.500000,Massachusetts
Charlotte,0.890909,NaN,20.126221,11.860215,30.637532,1.500000,North Carolina
Chicago,2.591599,7.649731,23.569409,14.219512,32.673522,0.434098,Illinois
Columbia,NaN,NaN,NaN,NaN,36.890173,1.500000,South Carolina
Columbus,2.441714,7.434961,27.050442,NaN,29.125964,2.340000,Ohio
Dallas,2.468056,4.697945,21.306202,18.202899,32.240741,0.500685,Texas
Denver,2.416195,7.392545,12.710283,21.226221,31.449871,0.662500,Colorado
Detroit,4.062207,9.356667,21.996176,14.347962,36.186528,2.184228,Michigan
El Paso,2.639041,6.294859,26.656812,23.989717,28.526992,0.579137,Texas
Fort Worth,NaN,5.044828,21.713506,NaN,29.694517,NaN,Indiana
Fresno,3.753985,9.300257,21.656555,37.219638,56.134367,1.696985,California
Hartford,2.751157,4.207455,11.455013,12.699229,29.447301,NaN,Connecticut
Honolulu,20.435754,NaN,17.217784,10.270619,18.817010,5.709740,Hawaii
Houston,2.553237,8.162329,18.827835,NaN,37.038660,1.326786,Texas
Indianapolis,3.526992,7.291774,21.222108,17.373711,35.269923,1.534568,Indiana
Jackson,1.402062,3.277246,20.524422,18.557143,35.393316,1.548443,Mississippi
Jacksonville,4.355556,3.686889,10.748843,17.624679,34.000000,0.537047,Florida
Las Vegas,0.100000,7.297429,14.794602,22.912596,27.668380,0.417481,Nevada
Little Rock,NaN,NaN,18.790181,NaN,32.904393,NaN,Arkansas
Los Angeles,4.759126,19.061954,15.965810,29.564767,52.730077,1.500000,California
Madison,NaN,NaN,26.505882,13.807198,33.041131,0.367914,Wisconsin
Memphis,NaN,NaN,21.046272,NaN,31.591260,NaN,Tennessee
Miami,1.407833,NaN,10.964781,15.100796,27.606684,0.446885,Florida
Milwaukee,2.608740,7.849357,23.490488,13.881748,32.876607,0.418684,Wisconsin
Nashville,NaN,NaN,21.112821,NaN,33.491003,NaN,Tennessee
New York,2.747068,13.064523,20.916667,NaN,27.636504,1.476955,New York
Oakland,4.563753,9.581491,17.123136,NaN,36.956298,1.522222,California
Oklahoma City,5.953866,6.604884,24.465810,18.994859,36.246787,1.500000,Oklahoma
Omaha,2.109021,NaN,19.186340,17.768831,30.007712,1.729851,Nebraska
Philadelphia,3.791176,6.597172,22.305141,NaN,33.483290,1.563636,Pennsylvania
Phoenix,4.621594,9.324679,19.580463,22.863753,32.012853,0.179946,Arizona
Portland,2.717995,7.220051,3.273779,NaN,27.257069,0.483152,Oregon
Providence,3.463896,9.263377,25.783465,NaN,25.992208,1.948148,Rhode Island
Raleigh,2.661954,5.488946,20.378406,10.892216,27.463918,1.500000,North Carolina
Richmond,0.100000,2.043814,10.728354,NaN,28.976351,0.157772,Virginia
Sacramento,NaN,4.079328,10.958355,34.989583,38.683117,NaN,California
Saint Paul,2.714910,7.063753,18.948454,14.388175,29.616967,1.564773,Minnesota
Salem,NaN,NaN,14.459043,NaN,30.059126,NaN,Oregon
Salt Lake City,1.969947,11.358355,24.119280,NaN,30.794344,NaN,Utah
San Antonio,NaN,4.716438,21.862371,NaN,33.424870,0.315294,Texas
San Diego,4.285165,10.064481,18.688983,NaN,50.141631,1.500000,California
San Francisco,4.045758,6.866838,19.140360,NaN,34.390746,1.585965,California
San Jose,4.976607,9.523907,18.885347,15.140271,36.275064,1.523204,California
Seattle,2.998446,10.825450,17.599483,NaN,27.976864,1.897980,Washington
Springfield,NaN,NaN,22.374104,NaN,32.845758,NaN,Illinois
Tallahassee,1.488686,NaN,10.454005,NaN,35.994859,0.176015,Florida
Tucson,2.010825,6.232558,24.482262,22.601542,25.997429,0.222727,Arizona
Washington D.C.,1.673779,4.848843,14.478663,NaN,27.192802,0.231389,Maryland

In [30]:
AQI_average_values['City_state'] = AQI_average_values.index + ", " + AQI_average_values['state_name']

# Merging AQI with  city

Problem to overcome in the merge is that the AQI data geolocates through country and city while the covid_asthma dataset geolocates through state and county. How can we make a new column with only county or city or state for the dataset that lacks it?

We want to create a function that will sort the cities into the state

In [37]:
us_cities = pd.read_csv('uscities.csv')
us_cities = us_cities.rename(columns={'city':'City'})
us_cities

,City,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36061,New York,40.6943,-73.9249,18713220,10715.0,polygon,False,True,America/New_York,1,11229 11226 11225 11224 11222 11221 11220 1138...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1139,-118.4068,12750807,3276.0,polygon,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90037 90031 9000...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8373,-87.6862,8604203,4574.0,polygon,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7839,-80.2102,6445545,5019.0,polygon,False,True,America/New_York,1,33129 33125 33126 33127 33128 33149 33144 3314...,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7936,-96.7662,5743938,1526.0,polygon,False,True,America/Chicago,1,75287 75098 75233 75254 75251 75252 75253 7503...,1840019440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28367,Poso Park,Poso Park,CA,California,6107,Tulare,35.8114,-118.6364,2,17.0,polygon,False,False,America/Los_Angeles,3,93260,1840024878
28368,Lotsee,Lotsee,OK,Oklahoma,40143,Tulsa,36.1334,-96.2091,2,39.0,polygon,False,True,America/Chicago,3,74063,1840021674
28369,The Ranch,The Ranch,MN,Minnesota,27087,Mahnomen,47.3198,-95.6952,2,2.0,polygon,False,True,America/Chicago,3,56557,1840039629
28370,Roswell,Roswell,SD,South Dakota,46097,Miner,44.0060,-97.6975,2,1.0,polygon,False,False,America/Chicago,3,57349,1840002541
28371,Monowi,Monowi,NE,Nebraska,31015,Boyd,42.8307,-98.3296,1,1.0,polygon,False,True,America/Chicago,3,68746,1840011034

In [38]:
us_cities['city_state'] = us_cities['City'] + ", " + us_cities['state_name']

In [39]:
aqi_city = AQI_average_values.merge(us_cities,
    how="left",                      
    left_on = ['City_state'],
    right_on = ['city_state']) 
aqi_city.head()

,co,no2,o3,pm10,pm25,so2,state_name_x,City_state,City,city_ascii,...,population,density,source,military,incorporated,timezone,ranking,zips,id,city_state
0,1.832391,6.692545,29.788175,18.699229,24.411311,1.511667,New Mexico,"Albuquerque, New Mexico",Albuquerque,Albuquerque,...,761195.0,1155.0,polygon,False,True,America/Denver,2.0,87121 87120 87123 87112 87113 87110 87111 8711...,1.840019e+09,"Albuquerque, New Mexico"
1,2.841645,6.257326,19.140206,15.107969,35.149100,0.512658,Georgia,"Atlanta, Georgia",Atlanta,Atlanta,...,5449398.0,1441.0,polygon,False,True,America/New_York,1.0,30334 30331 30332 30309 30308 30305 30307 3030...,1.840014e+09,"Atlanta, Georgia"
2,NaN,3.329897,20.808808,NaN,34.973890,0.410714,Texas,"Austin, Texas",Austin,Austin,...,1687311.0,1181.0,polygon,False,True,America/Chicago,1.0,78749 78748 78741 78742 78745 78744 78747 7874...,1.840020e+09,"Austin, Texas"
3,NaN,8.650129,21.242416,11.718579,30.686375,1.695902,Maryland,"Baltimore, Maryland",Baltimore,Baltimore,...,2106068.0,2830.0,polygon,False,True,America/New_York,1.0,21218 21211 21210 21213 21212 21215 21214 2121...,1.840002e+09,"Baltimore, Maryland"
4,2.930848,8.005656,20.900771,19.177835,33.064433,0.740000,Idaho,"Boise, Idaho",Boise,Boise,...,389280.0,1056.0,polygon,False,True,America/Boise,2.0,83703 83702 83705 83704 83709 83716 83706 8371...,1.840027e+09,"Boise, Idaho"

In [40]:
'''
dropping columns and renaming for clarity before merge
'''

aqicitydrop = ['source', 'military', 'incorporated', 'timezone','lat', 'lng','county_fips','City', 'ranking', 'zips','id','state_id','city_ascii']
aqi_city = aqi_city.drop(columns= aqicitydrop)
# aqi_city = aqi_city.rename(columns={'state_name':'state','county_name':'county'})

In [41]:
us_cities

,City,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id,city_state
0,New York,New York,NY,New York,36061,New York,40.6943,-73.9249,18713220,10715.0,polygon,False,True,America/New_York,1,11229 11226 11225 11224 11222 11221 11220 1138...,1840034016,"New York, New York"
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1139,-118.4068,12750807,3276.0,polygon,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90037 90031 9000...,1840020491,"Los Angeles, California"
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8373,-87.6862,8604203,4574.0,polygon,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494,"Chicago, Illinois"
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7839,-80.2102,6445545,5019.0,polygon,False,True,America/New_York,1,33129 33125 33126 33127 33128 33149 33144 3314...,1840015149,"Miami, Florida"
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7936,-96.7662,5743938,1526.0,polygon,False,True,America/Chicago,1,75287 75098 75233 75254 75251 75252 75253 7503...,1840019440,"Dallas, Texas"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28367,Poso Park,Poso Park,CA,California,6107,Tulare,35.8114,-118.6364,2,17.0,polygon,False,False,America/Los_Angeles,3,93260,1840024878,"Poso Park, California"
28368,Lotsee,Lotsee,OK,Oklahoma,40143,Tulsa,36.1334,-96.2091,2,39.0,polygon,False,True,America/Chicago,3,74063,1840021674,"Lotsee, Oklahoma"
28369,The Ranch,The Ranch,MN,Minnesota,27087,Mahnomen,47.3198,-95.6952,2,2.0,polygon,False,True,America/Chicago,3,56557,1840039629,"The Ranch, Minnesota"
28370,Roswell,Roswell,SD,South Dakota,46097,Miner,44.0060,-97.6975,2,1.0,polygon,False,False,America/Chicago,3,57349,1840002541,"Roswell, South Dakota"
28371,Monowi,Monowi,NE,Nebraska,31015,Boyd,42.8307,-98.3296,1,1.0,polygon,False,True,America/Chicago,3,68746,1840011034,"Monowi, Nebraska"

# Merging Covid/Asthma/AQI

1. aqi cityies have incorrect counties

In [42]:
aqi_city.drop(columns = ['state_name_y','city_state'], inplace = True)

In [43]:
aqi_city = aqi_city.rename(columns = {'county_name':'county'})
aqi_city.head()

,co,no2,o3,pm10,pm25,so2,state_name_x,City_state,county,population,density
0,1.832391,6.692545,29.788175,18.699229,24.411311,1.511667,New Mexico,"Albuquerque, New Mexico",Bernalillo,761195.0,1155.0
1,2.841645,6.257326,19.140206,15.107969,35.149100,0.512658,Georgia,"Atlanta, Georgia",Fulton,5449398.0,1441.0
2,NaN,3.329897,20.808808,NaN,34.973890,0.410714,Texas,"Austin, Texas",Travis,1687311.0,1181.0
3,NaN,8.650129,21.242416,11.718579,30.686375,1.695902,Maryland,"Baltimore, Maryland",Baltimore,2106068.0,2830.0
4,2.930848,8.005656,20.900771,19.177835,33.064433,0.740000,Idaho,"Boise, Idaho",Ada,389280.0,1056.0

In [44]:
aqi_city['county_state'] = aqi_city['county'] + ", " + aqi_city['state_name_x']
aqi_city

,co,no2,o3,pm10,pm25,so2,state_name_x,City_state,county,population,density,county_state
0,1.832391,6.692545,29.788175,18.699229,24.411311,1.511667,New Mexico,"Albuquerque, New Mexico",Bernalillo,761195.0,1155.0,"Bernalillo, New Mexico"
1,2.841645,6.257326,19.140206,15.107969,35.149100,0.512658,Georgia,"Atlanta, Georgia",Fulton,5449398.0,1441.0,"Fulton, Georgia"
2,NaN,3.329897,20.808808,NaN,34.973890,0.410714,Texas,"Austin, Texas",Travis,1687311.0,1181.0,"Travis, Texas"
3,NaN,8.650129,21.242416,11.718579,30.686375,1.695902,Maryland,"Baltimore, Maryland",Baltimore,2106068.0,2830.0,"Baltimore, Maryland"
4,2.930848,8.005656,20.900771,19.177835,33.064433,0.740000,Idaho,"Boise, Idaho",Ada,389280.0,1056.0,"Ada, Idaho"
5,2.328021,5.281491,22.412596,NaN,27.079692,1.500000,Massachusetts,"Boston, Massachusetts",Suffolk,4688346.0,5532.0,"Suffolk, Massachusetts"
6,0.890909,NaN,20.126221,11.860215,30.637532,1.500000,North Carolina,"Charlotte, North Carolina",Mecklenburg,1512923.0,1113.0,"Mecklenburg, North Carolina"
7,2.591599,7.649731,23.569409,14.219512,32.673522,0.434098,Illinois,"Chicago, Illinois",Cook,8604203.0,4574.0,"Cook, Illinois"
8,NaN,NaN,NaN,NaN,36.890173,1.500000,South Carolina,"Columbia, South Carolina",Richland,560041.0,373.0,"Richland, South Carolina"
9,2.441714,7.434961,27.050442,NaN,29.125964,2.340000,Ohio,"Columbus, Ohio",Franklin,1562009.0,1582.0,"Franklin, Ohio"
10,2.468056,4.697945,21.306202,18.202899,32.240741,0.500685,Texas,"Dallas, Texas",Dallas,5743938.0,1526.0,"Dallas, Texas"
11,2.416195,7.392545,12.710283,21.226221,31.449871,0.662500,Colorado,"Denver, Colorado",Denver,2876625.0,1831.0,"Denver, Colorado"
12,4.062207,9.356667,21.996176,14.347962,36.186528,2.184228,Michigan,"Detroit, Michigan",Wayne,3506126.0,1864.0,"Wayne, Michigan"
13,2.639041,6.294859,26.656812,23.989717,28.526992,0.579137,Texas,"El Paso, Texas",El Paso,843386.0,1022.0,"El Paso, Texas"
14,NaN,5.044828,21.713506,NaN,29.694517,NaN,Indiana,"Fort Worth, Indiana",NaN,NaN,NaN,NaN
15,3.753985,9.300257,21.656555,37.219638,56.134367,1.696985,California,"Fresno, California",Fresno,703498.0,1789.0,"Fresno, California"
16,2.751157,4.207455,11.455013,12.699229,29.447301,NaN,Connecticut,"Hartford, Connecticut",Hartford,905152.0,2712.0,"Hartford, Connecticut"
17,20.435754,NaN,17.217784,10.270619,18.817010,5.709740,Hawaii,"Honolulu, Hawaii",Honolulu,820987.0,2200.0,"Honolulu, Hawaii"
18,2.553237,8.162329,18.827835,NaN,37.038660,1.326786,Texas,"Houston, Texas",Harris,5464251.0,1399.0,"Harris, Texas"
19,3.526992,7.291774,21.222108,17.373711,35.269923,1.534568,Indiana,"Indianapolis, Indiana",Marion,1588961.0,935.0,"Marion, Indiana"
20,1.402062,3.277246,20.524422,18.557143,35.393316,1.548443,Mississippi,"Jackson, Mississippi",Hinds,325350.0,558.0,"Hinds, Mississippi"
21,4.355556,3.686889,10.748843,17.624679,34.000000,0.537047,Florida,"Jacksonville, Florida",Duval,1181496.0,470.0,"Duval, Florida"
22,0.100000,7.297429,14.794602,22.912596,27.668380,0.417481,Nevada,"Las Vegas, Nevada",Clark,2104198.0,1773.0,"Clark, Nevada"
23,NaN,NaN,18.790181,NaN,32.904393,NaN,Arkansas,"Little Rock, Arkansas",Pulaski,439815.0,634.0,"Pulaski, Arkansas"
24,4.759126,19.061954,15.965810,29.564767,52.730077,1.500000,California,"Los Angeles, California",Los Angeles,12750807.0,3276.0,"Los Angeles, California"
25,NaN,NaN,26.505882,13.807198,33.041131,0.367914,Wisconsin,"Madison, Wisconsin",Dane,447245.0,1263.0,"Dane, Wisconsin"
26,NaN,NaN,21.046272,NaN,31.591260,NaN,Tennessee,"Memphis, Tennessee",Shelby,1066967.0,792.0,"Shelby, Tennessee"
27,1.407833,NaN,10.964781,15.100796,27.606684,0.446885,Florida,"Miami, Florida",Miami-Dade,6445545.0,5019.0,"Miami-Dade, Florida"
28,2.608740,7.849357,23.490488,13.881748,32.876607,0.418684,Wisconsin,"Milwaukee, Wisconsin",Milwaukee,1365787.0,2369.0,"Milwaukee, Wisconsin"
29,NaN,NaN,21.112821,NaN,33.491003,NaN,Tennessee,"Nashville, Tennessee",Davidson,1081903.0,544.0,"Davidson, Tennessee"
30,2.747068,13.064523,20.916667,NaN,27.636504,1.476955,New York,"New York, New York",New York,18713220.0,10715.0,"New York, New York"
31,4.563753,9.581491,17.123136,NaN,36.956298,1.522222,California,"Oakland, California",Alameda,433031.0,2991.0,"Alameda, California"
32,5.953866,6.604884,24.465810,18.994859,36.246787,1.500000,Oklahoma,"Oklahoma City, Oklahoma",Oklahoma,972943.0,417.0,"Oklahoma, Oklahoma"
33,2.109021,NaN,19.186340,17.768831,30.007712,1.729851,Nebraska,"Omaha, Nebraska",Douglas,847819.0,1309.0,"Douglas, Nebraska"
34,3.791176,6.597172,22.305141,NaN,33.483290,1.563636,Pennsylvania,"Philadelphia, Pennsylvania",Philadelphia,5649300.0,4554.0,"Philadelphia, Pennsylvania"
35,4.621594,9.324679,19.580463,22.863753,32.012853,0.179946,Arizona,"Phoenix, Arizona",Maricopa,4219697.0,1253.0,"Maricopa, Arizona"
36,2.717995,7.220051,3.273779,NaN,27.257069,0.483152,Oregon,"Portland, Oregon",Multnomah,2074775.0,1894.0,"Multnomah, Oregon"
37,3.463896,9.263377,25.783465,NaN,25.992208,1.948148,Rhode Island,"Providence, Rhode Island",Providence,1203230.0,3773.0,"Providence, Rhode Island"
38,2.661954,5.488946,20.378406,10.892216,27.463918,1.500000,North Carolina,"Raleigh, North Carolina",Wake,1038738.0,1254.0,"Wake, North Carolina"
39,0.100000,2.043814,10.728354,NaN,28.976351,0.157772,Virginia,"Richmond, Virginia",Richmond,1075798.0,1484.0,"Richmond, Virginia"
40,NaN,4.079328,10.958355,34.989583,38.683117,NaN,California,"Sacramento, California",Sacramento,1898019.0,2029.0,"Sacramento, California"
41,2.714910,7.063753,18.948454,14.388175,29.616967,1.564773,Minnesota,"Saint Paul, Minnesota",NaN,NaN,NaN,NaN
42,NaN,NaN,14.459043,NaN,30.059126,NaN,Oregon,"Salem, Oregon",Marion,266804.0,1382.0,"Marion, Oregon"
43,1.969947,11.358355,24.119280,NaN,30.794344,NaN,Utah,"Salt Lake City, Utah",Salt Lake,1098526.0,699.0,"Salt Lake, Utah"
44,NaN,4.716438,21.862371,NaN,33.424870,0.315294,Texas,"San Antonio, Texas",Bexar,2049293.0,1231.0,"Bexar, Texas"
45,4.285165,10.064481,18.688983,NaN,50.141631,1.500000,California,"San Diego, California",San Diego,3220118.0,1686.0,"San Diego, California"
46,4.045758,6.866838,19.140360,NaN,34.390746,1.585965,California,"San Francisco, California",San Francisco,3592294.0,7256.0,"San Francisco, California"
47,4.976607,9.523907,18.885347,15.140271,36.275064,1.523204,California,"San Jose, California",Santa Clara,1798103.0,2218.0,"Santa Clara, California"
48,2.998446,10.825450,17.599483,NaN,27.976864,1.897980,Washington,"Seattle, Washington",King,3789215.0,3469.0,"King, Washington"
49,NaN,NaN,22.374104,NaN,32.845758,NaN,Illinois,"Springfield, Illinois",Sangamon,158509.0,723.0,"Sangamon, Illinois"
50,1.488686,NaN,10.454005,NaN,35.994859,0.176015,Florida,"Tallahassee, Florida",Leon,257601.0,747.0,"Leon, Florida"
51,2.010825,6.232558,24.482262,22.601542,25.997429,0.222727,Arizona,"Tucson, Arizona",Pima,888486.0,889.0,"Pima, Arizona"
52,1.673779,4.848843,14.478663,NaN,27.192802,0.231389,Maryland,"Washington D.C., Maryland",NaN,NaN,NaN,NaN

In [45]:
covid_asthma = covid_asthma[covid_asthma['date'] == '2021-01-29']
covid_asthma['county_state'] = covid_asthma['county'] + ", " + covid_asthma['state']
covid_asthma

,state,perc pop with asthma,date,county,cases,deaths,covid mortality,county_state
20822,Alabama,11.425490,2021-01-29,Autauga,5596.0,69.0,0.012330,"Autauga, Alabama"
20823,Alabama,11.425490,2021-01-29,Baldwin,17922.0,224.0,0.012499,"Baldwin, Alabama"
20824,Alabama,11.425490,2021-01-29,Barbour,1931.0,40.0,0.020715,"Barbour, Alabama"
20825,Alabama,11.425490,2021-01-29,Bibb,2284.0,51.0,0.022329,"Bibb, Alabama"
20826,Alabama,11.425490,2021-01-29,Blount,5655.0,98.0,0.017330,"Blount, Alabama"
...,...,...,...,...,...,...,...,...
915917,Wyoming,9.644444,2021-01-29,Sweetwater,3464.0,32.0,0.009238,"Sweetwater, Wyoming"
915918,Wyoming,9.644444,2021-01-29,Teton,3078.0,6.0,0.001949,"Teton, Wyoming"
915919,Wyoming,9.644444,2021-01-29,Uinta,1959.0,12.0,0.006126,"Uinta, Wyoming"
915920,Wyoming,9.644444,2021-01-29,Washakie,863.0,25.0,0.028969,"Washakie, Wyoming"
915921,Wyoming,9.644444,2021-01-29,Weston,610.0,4.0,0.006557,"Weston, Wyoming"

In [46]:
aqi_city.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 0 to 52
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   co            41 non-null     float64
 1   no2           41 non-null     float64
 2   o3            52 non-null     float64
 3   pm10          29 non-null     float64
 4   pm25          53 non-null     float64
 5   so2           44 non-null     float64
 6   state_name_x  53 non-null     object
 7   City_state    53 non-null     object
 8   county        50 non-null     object
 9   population    50 non-null     float64
 10  density       50 non-null     float64
 11  county_state  50 non-null     object
dtypes: float64(8), object(4)
memory usage: 5.4+ KB

In [47]:
master1 = pd.merge(covid_asthma,aqi_city,
    how="inner",                      
    left_on = ['county_state'],
    right_on = ['county_state']
)
master1['asthma population']= master1['perc pop with asthma'] * master1['population']
master1

,state,perc pop with asthma,date,county_x,cases,deaths,covid mortality,county_state,co,no2,o3,pm10,pm25,so2,state_name_x,City_state,county_y,population,density,asthma population
0,Arizona,10.344531,2021-01-29,Maricopa,468090.0,7400.0,0.015809,"Maricopa, Arizona",4.621594,9.324679,19.580463,22.863753,32.012853,0.179946,Arizona,"Phoenix, Arizona",Maricopa,4219697.0,1253.0,4.365079e+07
1,Arizona,10.344531,2021-01-29,Pima,100272.0,1736.0,0.017313,"Pima, Arizona",2.010825,6.232558,24.482262,22.601542,25.997429,0.222727,Arizona,"Tucson, Arizona",Pima,888486.0,889.0,9.190971e+06
2,Arkansas,9.733594,2021-01-29,Pulaski,33378.0,500.0,0.014980,"Pulaski, Arkansas",NaN,NaN,18.790181,NaN,32.904393,NaN,Arkansas,"Little Rock, Arkansas",Pulaski,439815.0,634.0,4.280981e+06
3,California,8.897829,2021-01-29,Alameda,73136.0,959.0,0.013113,"Alameda, California",4.563753,9.581491,17.123136,NaN,36.956298,1.522222,California,"Oakland, California",Alameda,433031.0,2991.0,3.853036e+06
4,California,8.897829,2021-01-29,Fresno,87401.0,1137.0,0.013009,"Fresno, California",3.753985,9.300257,21.656555,37.219638,56.134367,1.696985,California,"Fresno, California",Fresno,703498.0,1789.0,6.259605e+06
5,California,8.897829,2021-01-29,Los Angeles,1104843.0,16332.0,0.014782,"Los Angeles, California",4.759126,19.061954,15.965810,29.564767,52.730077,1.500000,California,"Los Angeles, California",Los Angeles,12750807.0,3276.0,1.134545e+08
6,California,8.897829,2021-01-29,Sacramento,85697.0,1239.0,0.014458,"Sacramento, California",NaN,4.079328,10.958355,34.989583,38.683117,NaN,California,"Sacramento, California",Sacramento,1898019.0,2029.0,1.688825e+07
7,California,8.897829,2021-01-29,San Diego,234703.0,2571.0,0.010954,"San Diego, California",4.285165,10.064481,18.688983,NaN,50.141631,1.500000,California,"San Diego, California",San Diego,3220118.0,1686.0,2.865206e+07
8,California,8.897829,2021-01-29,San Francisco,31196.0,317.0,0.010162,"San Francisco, California",4.045758,6.866838,19.140360,NaN,34.390746,1.585965,California,"San Francisco, California",San Francisco,3592294.0,7256.0,3.196362e+07
9,California,8.897829,2021-01-29,Santa Clara,100997.0,1373.0,0.013594,"Santa Clara, California",4.976607,9.523907,18.885347,15.140271,36.275064,1.523204,California,"San Jose, California",Santa Clara,1798103.0,2218.0,1.599921e+07
10,Colorado,9.454213,2021-01-29,Denver,55464.0,741.0,0.013360,"Denver, Colorado",2.416195,7.392545,12.710283,21.226221,31.449871,0.662500,Colorado,"Denver, Colorado",Denver,2876625.0,1831.0,2.719623e+07
11,Connecticut,10.980085,2021-01-29,Hartford,63211.0,2107.0,0.033333,"Hartford, Connecticut",2.751157,4.207455,11.455013,12.699229,29.447301,NaN,Connecticut,"Hartford, Connecticut",Hartford,905152.0,2712.0,9.938646e+06
12,Florida,8.749375,2021-01-29,Duval,80580.0,898.0,0.011144,"Duval, Florida",4.355556,3.686889,10.748843,17.624679,34.000000,0.537047,Florida,"Jacksonville, Florida",Duval,1181496.0,470.0,1.033735e+07
13,Florida,8.749375,2021-01-29,Leon,26166.0,228.0,0.008714,"Leon, Florida",1.488686,NaN,10.454005,NaN,35.994859,0.176015,Florida,"Tallahassee, Florida",Leon,257601.0,747.0,2.253848e+06
14,Florida,8.749375,2021-01-29,Miami-Dade,368136.0,4817.0,0.013085,"Miami-Dade, Florida",1.407833,NaN,10.964781,15.100796,27.606684,0.446885,Florida,"Miami, Florida",Miami-Dade,6445545.0,5019.0,5.639449e+07
15,Georgia,9.877253,2021-01-29,Fulton,76633.0,939.0,0.012253,"Fulton, Georgia",2.841645,6.257326,19.140206,15.107969,35.149100,0.512658,Georgia,"Atlanta, Georgia",Fulton,5449398.0,1441.0,5.382508e+07
16,Hawaii,8.848729,2021-01-29,Honolulu,20957.0,325.0,0.015508,"Honolulu, Hawaii",20.435754,NaN,17.217784,10.270619,18.817010,5.709740,Hawaii,"Honolulu, Hawaii",Honolulu,820987.0,2200.0,7.264691e+06
17,Idaho,9.471233,2021-01-29,Ada,44369.0,409.0,0.009218,"Ada, Idaho",2.930848,8.005656,20.900771,19.177835,33.064433,0.740000,Idaho,"Boise, Idaho",Ada,389280.0,1056.0,3.686962e+06
18,Illinois,9.436790,2021-01-29,Cook,451581.0,9374.0,0.020758,"Cook, Illinois",2.591599,7.649731,23.569409,14.219512,32.673522,0.434098,Illinois,"Chicago, Illinois",Cook,8604203.0,4574.0,8.119606e+07
19,Illinois,9.436790,2021-01-29,Sangamon,15148.0,251.0,0.016570,"Sangamon, Illinois",NaN,NaN,22.374104,NaN,32.845758,NaN,Illinois,"Springfield, Illinois",Sangamon,158509.0,723.0,1.495816e+06
20,Indiana,11.068843,2021-01-29,Marion,86093.0,1413.0,0.016412,"Marion, Indiana",3.526992,7.291774,21.222108,17.373711,35.269923,1.534568,Indiana,"Indianapolis, Indiana",Marion,1588961.0,935.0,1.758796e+07
21,Maryland,11.478109,2021-01-29,Baltimore,46876.0,1138.0,0.024277,"Baltimore, Maryland",NaN,8.650129,21.242416,11.718579,30.686375,1.695902,Maryland,"Baltimore, Maryland",Baltimore,2106068.0,2830.0,2.417368e+07
22,Massachusetts,11.256863,2021-01-29,Suffolk,70712.0,1556.0,0.022005,"Suffolk, Massachusetts",2.328021,5.281491,22.412596,NaN,27.079692,1.500000,Massachusetts,"Boston, Massachusetts",Suffolk,4688346.0,5532.0,5.277607e+07
23,Michigan,12.239153,2021-01-29,Wayne,96472.0,3965.0,0.041100,"Wayne, Michigan",4.062207,9.356667,21.996176,14.347962,36.186528,2.184228,Michigan,"Detroit, Michigan",Wayne,3506126.0,1864.0,4.291201e+07
24,Mississippi,11.103797,2021-01-29,Hinds,17419.0,348.0,0.019978,"Hinds, Mississippi",1.402062,3.277246,20.524422,18.557143,35.393316,1.548443,Mississippi,"Jackson, Mississippi",Hinds,325350.0,558.0,3.612621e+06
25,Nebraska,8.663761,2021-01-29,Douglas,60854.0,594.0,0.009761,"Douglas, Nebraska",2.109021,NaN,19.186340,17.768831,30.007712,1.729851,Nebraska,"Omaha, Nebraska",Douglas,847819.0,1309.0,7.345302e+06
26,Nevada,10.050678,2021-01-29,Clark,212575.0,3234.0,0.015213,"Clark, Nevada",0.100000,7.297429,14.794602,22.912596,27.668380,0.417481,Nevada,"Las Vegas, Nevada",Clark,2104198.0,1773.0,2.114862e+07
27,New Mexico,9.806542,2021-01-29,Bernalillo,48839.0,758.0,0.015520,"Bernalillo, New Mexico",1.832391,6.692545,29.788175,18.699229,24.411311,1.511667,New Mexico,"Albuquerque, New Mexico",Bernalillo,761195.0,1155.0,7.464691e+06
28,Ohio,11.116329,2021-01-29,Franklin,104034.0,709.0,0.006815,"Franklin, Ohio",2.441714,7.434961,27.050442,NaN,29.125964,2.340000,Ohio,"Columbus, Ohio",Franklin,1562009.0,1582.0,1.736381e+07
29,Oklahoma,10.470190,2021-01-29,Oklahoma,74315.0,573.0,0.007710,"Oklahoma, Oklahoma",5.953866,6.604884,24.465810,18.994859,36.246787,1.500000,Oklahoma,"Oklahoma City, Oklahoma",Oklahoma,972943.0,417.0,1.018690e+07
30,Oregon,10.383523,2021-01-29,Marion,17117.0,256.0,0.014956,"Marion, Oregon",NaN,NaN,14.459043,NaN,30.059126,NaN,Oregon,"Salem, Oregon",Marion,266804.0,1382.0,2.770365e+06
31,Oregon,10.383523,2021-01-29,Multnomah,29799.0,480.0,0.016108,"Multnomah, Oregon",2.717995,7.220051,3.273779,NaN,27.257069,0.483152,Oregon,"Portland, Oregon",Multnomah,2074775.0,1894.0,2.154347e+07
32,Pennsylvania,11.165581,2021-01-29,Philadelphia,109231.0,2892.0,0.026476,"Philadelphia, Pennsylvania",3.791176,6.597172,22.305141,NaN,33.483290,1.563636,Pennsylvania,"Philadelphia, Pennsylvania",Philadelphia,5649300.0,4554.0,6.307772e+07
33,Rhode Island,12.115094,2021-01-29,Providence,74238.0,1581.0,0.021296,"Providence, Rhode Island",3.463896,9.263377,25.783465,NaN,25.992208,1.948148,Rhode Island,"Providence, Rhode Island",Providence,1203230.0,3773.0,1.457724e+07
34,Tennessee,10.802294,2021-01-29,Davidson,83943.0,726.0,0.008649,"Davidson, Tennessee",NaN,NaN,21.112821,NaN,33.491003,NaN,Tennessee,"Nashville, Tennessee",Davidson,1081903.0,544.0,1.168703e+07
35,Tennessee,10.802294,2021-01-29,Shelby,82428.0,1254.0,0.015213,"Shelby, Tennessee",NaN,NaN,21.046272,NaN,31.591260,NaN,Tennessee,"Memphis, Tennessee",Shelby,1066967.0,792.0,1.152569e+07
36,Texas,8.508445,2021-01-29,Bexar,167579.0,2303.0,0.013743,"Bexar, Texas",NaN,4.716438,21.862371,NaN,33.424870,0.315294,Texas,"San Antonio, Texas",Bexar,2049293.0,1231.0,1.743630e+07
37,Texas,8.508445,2021-01-29,Dallas,255493.0,2772.0,0.010850,"Dallas, Texas",2.468056,4.697945,21.306202,18.202899,32.240741,0.500685,Texas,"Dallas, Texas",Dallas,5743938.0,1526.0,4.887198e+07
38,Texas,8.508445,2021-01-29,El Paso,112652.0,2095.0,0.018597,"El Paso, Texas",2.639041,6.294859,26.656812,23.989717,28.526992,0.579137,Texas,"El Paso, Texas",El Paso,843386.0,1022.0,7.175904e+06
39,Texas,8.508445,2021-01-29,Harris,311665.0,4196.0,0.013463,"Harris, Texas",2.553237,8.162329,18.827835,NaN,37.038660,1.326786,Texas,"Houston, Texas",Harris,5464251.0,1399.0,4.649228e+07
40,Texas,8.508445,2021-01-29,Travis,68020.0,716.0,0.010526,"Travis, Texas",NaN,3.329897,20.808808,NaN,34.973890,0.410714,Texas,"Austin, Texas",Travis,1687311.0,1181.0,1.435639e+07
41,Utah,9.296813,2021-01-29,Salt Lake,129114.0,675.0,0.005228,"Salt Lake, Utah",1.969947,11.358355,24.119280,NaN,30.794344,NaN,Utah,"Salt Lake City, Utah",Salt Lake,1098526.0,699.0,1.021279e+07
42,Virginia,10.224376,2021-01-29,Richmond,1214.0,6.0,0.004942,"Richmond, Virginia",0.100000,2.043814,10.728354,NaN,28.976351,0.157772,Virginia,"Richmond, Virginia",Richmond,1075798.0,1484.0,1.099936e+07
43,Washington,10.088136,2021-01-29,King,77693.0,1244.0,0.016012,"King, Washington",2.998446,10.825450,17.599483,NaN,27.976864,1.897980,Washington,"Seattle, Washington",King,3789215.0,3469.0,3.822611e+07
44,Wisconsin,10.694203,2021-01-29,Dane,39207.0,266.0,0.006785,"Dane, Wisconsin",NaN,NaN,26.505882,13.807198,33.041131,0.367914,Wisconsin,"Madison, Wisconsin",Dane,447245.0,1263.0,4.782929e+06
45,Wisconsin,10.694203,2021-01-29,Milwaukee,102816.0,1163.0,0.011311,"Milwaukee, Wisconsin",2.608740,7.849357,23.490488,13.881748,32.876607,0.418684,Wisconsin,"Milwaukee, Wisconsin",Milwaukee,1365787.0,2369.0,1.460600e+07

In [48]:
"""
we assumed the population from our city dataset represents the population examined 
when determining the percentage of population with asthma.

expected pm25 correlation
high correlation between no2 and cases/deaths
low correlation with density while population is high - could be how the density is calculated 
asthma and deaths have high correlation

variables to include in our model:
asthma_pop
population
pm25
no2
see how that predicts cases and deaths

use model in anova
"""
master1.corr()

,perc pop with asthma,cases,deaths,covid mortality,co,no2,o3,pm10,pm25,so2,population,density,asthma population
perc pop with asthma,1.000000,-0.233740,-0.113895,0.502000,-0.149435,-0.035586,0.241928,-0.371394,-0.269216,0.124566,-0.136416,0.065912,-0.029653
cases,-0.233740,1.000000,0.966990,0.021221,-0.010486,0.660731,-0.039982,0.284528,0.415357,-0.119704,0.831008,0.215304,0.788072
deaths,-0.113895,0.966990,1.000000,0.228715,-0.004930,0.618692,-0.022390,0.225229,0.364359,-0.097872,0.848912,0.287417,0.828467
covid mortality,0.502000,0.021221,0.228715,1.000000,0.057151,0.020268,0.032387,-0.215221,-0.106658,0.246184,0.171447,0.282530,0.250401
co,-0.149435,-0.010486,-0.004930,0.057151,1.000000,0.441107,0.012512,-0.265008,-0.108552,0.809761,-0.043464,0.040739,-0.048852
no2,-0.035586,0.660731,0.618692,0.020268,0.441107,1.000000,0.123787,0.233967,0.437807,0.412449,0.495021,0.189423,0.480838
o3,0.241928,-0.039982,-0.022390,0.032387,0.012512,0.123787,1.000000,-0.118732,-0.041196,0.170206,-0.080015,-0.067734,-0.052218
pm10,-0.371394,0.284528,0.225229,-0.215221,-0.265008,0.233967,-0.118732,1.000000,0.635479,-0.220220,0.095722,-0.154298,0.063994
pm25,-0.269216,0.415357,0.364359,-0.106658,-0.108552,0.437807,-0.041196,0.635479,1.000000,-0.115511,0.291661,-0.056511,0.257281
so2,0.124566,-0.119704,-0.097872,0.246184,0.809761,0.412449,0.170206,-0.220220,-0.115511,1.000000,-0.081866,0.173432,-0.061688
population,-0.136416,0.831008,0.848912,0.171447,-0.043464,0.495021,-0.080015,0.095722,0.291661,-0.081866,1.000000,0.519656,0.990638
density,0.065912,0.215304,0.287417,0.282530,0.040739,0.189423,-0.067734,-0.154298,-0.056511,0.173432,0.519656,1.000000,0.546804
asthma population,-0.029653,0.788072,0.828467,0.250401,-0.048852,0.480838,-0.052218,0.063994,0.257281,-0.061688,0.990638,0.546804,1.000000

In [52]:
master1.describe()

,perc pop with asthma,cases,deaths,covid mortality,co,no2,o3,pm10,pm25,so2,population,density,asthma population
count,46.000000,4.600000e+01,46.000000,46.000000,36.000000,36.000000,46.000000,26.000000,46.000000,38.000000,4.600000e+01,46.000000,4.600000e+01
mean,9.845809,1.304860e+05,1968.826087,0.014893,3.425080,7.374480,19.290778,19.156188,33.067281,1.181106,2.400074e+06,1985.456522,2.327599e+07
std,1.058396,1.815652e+05,2839.740859,0.006775,3.190602,3.020863,5.366832,6.604530,6.611993,1.000202,2.511146e+06,1480.957059,2.335632e+07
min,8.508445,1.214000e+03,6.000000,0.004942,0.100000,2.043814,3.273779,10.270619,18.817010,0.157772,1.585090e+05,417.000000,1.495816e+06
25%,8.897829,4.736675e+04,578.250000,0.010876,2.273271,5.994791,17.146798,14.536171,29.206298,0.437295,8.444942e+05,1030.500000,7.375149e+06
50%,9.770068,7.913650e+04,1137.500000,0.014100,2.734576,7.294602,20.666615,17.985865,32.861183,1.413393,1.463898e+06,1505.000000,1.459162e+07
75%,10.694203,1.079318e+05,2104.000000,0.016336,4.049871,9.272597,22.356863,22.257712,35.239717,1.559838,3.434624e+06,2331.250000,3.113573e+07
max,12.239153,1.104843e+06,16332.000000,0.041100,20.435754,19.061954,29.788175,37.219638,56.134367,5.709740,1.275081e+07,7256.000000,1.134545e+08

In [ ]:
t_test = stats.ttest_1samp(master1['o3'], )

In [56]:
co = master1['co']
no2 = master1['no2']
o3 = master1['o3']
pm10=master1['pm10']
pm25=master1['pm25']
so2=master1['so2']
asthma_population = master1['asthma population']

In [60]:

!pip install bioinfokit
from bioinfokit.analys import stat

Collecting bioinfokit
  Downloading bioinfokit-1.0.7.tar.gz (80 kB)
Requirement already satisfied: pandas in c:\users\dcrag\anaconda3\lib\site-packages (from bioinfokit) (1.1.3)
Requirement already satisfied: numpy in c:\users\dcrag\anaconda3\lib\site-packages (from bioinfokit) (1.19.1)
Requirement already satisfied: matplotlib in c:\users\dcrag\anaconda3\lib\site-packages (from bioinfokit) (3.3.2)
Requirement already satisfied: scipy in c:\users\dcrag\anaconda3\lib\site-packages (from bioinfokit) (1.5.0)
Requirement already satisfied: scikit-learn in c:\users\dcrag\anaconda3\lib\site-packages (from bioinfokit) (0.23.2)
Requirement already satisfied: seaborn in c:\users\dcrag\anaconda3\lib\site-packages (from bioinfokit) (0.11.0)
Collecting matplotlib_venn
  Downloading matplotlib-venn-0.11.6.tar.gz (29 kB)
Collecting tabulate
  Using cached tabulate-0.8.7-py3-none-any.whl (24 kB)
Requirement already satisfied: statsmodels in c:\users\dcrag\anaconda3\lib\site-packages (from bioinfokit) (0.12.0)
Collecting textwrap3
  Downloading textwrap3-0.9.2-py2.py3-none-any.whl (12 kB)
Collecting adjustText
  Downloading adjustText-0.7.3.tar.gz (7.5 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dcrag\anaconda3\lib\site-packages (from pandas->bioinfokit) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\dcrag\anaconda3\lib\site-packages (from pandas->bioinfokit) (2020.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\dcrag\anaconda3\lib\site-packages (from matplotlib->bioinfokit) (2.4.7)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\dcrag\anaconda3\lib\site-packages (from matplotlib->bioinfokit) (2020.6.20)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dcrag\anaconda3\lib\site-packages (from matplotlib->bioinfokit) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dcrag\anaconda3\lib\site-packages (from matplotlib->bioinfokit) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dcrag\anaconda3\lib\site-packages (from matplotlib->bioinfokit) (8.0.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dcrag\anaconda3\lib\site-packages (from scikit-learn->bioinfokit) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\dcrag\anaconda3\lib\site-packages (from scikit-learn->bioinfokit) (0.17.0)
Requirement already satisfied: patsy>=0.5 in c:\users\dcrag\anaconda3\lib\site-packages (from statsmodels->bioinfokit) (0.5.1)
Requirement already satisfied: six>=1.5 in c:\users\dcrag\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->bioinfokit) (1.15.0)
Building wheels for collected packages: bioinfokit, matplotlib-venn, adjustText
  Building wheel for bioinfokit (setup.py): started
  Building wheel for bioinfokit (setup.py): finished with status 'done'
  Created wheel for bioinfokit: filename=bioinfokit-1.0.7-py3-none-any.whl size=55639 sha256=ef7122627dfd3fb11bf6ec6b54e09f1b5f21bd491facc390ad92807e2f60d4aa
  Stored in directory: c:\users\dcrag\appdata\local\pip\cache\wheels\9d\1f\84\05c533566c4ce52836bde2ba35041b4f27e6f1093398f17866
  Building wheel for matplotlib-venn (setup.py): started
  Building wheel for matplotlib-venn (setup.py): finished with status 'done'
  Created wheel for matplotlib-venn: filename=matplotlib_venn-0.11.6-py3-none-any.whl size=32067 sha256=4a0c33b12d5250a0e1589ff3d09dad190c7be069f75d59aeb9c3b98212353c86
  Stored in directory: c:\users\dcrag\appdata\local\pip\cache\wheels\82\e4\64\dd790d424818bc2f59c11471a1eee5dc8cfcd3f8ee8c4812fa
  Building wheel for adjustText (setup.py): started
  Building wheel for adjustText (setup.py): finished with status 'done'
  Created wheel for adjustText: filename=adjustText-0.7.3-py3-none-any.whl size=7103 sha256=c5b95ab7e2cae87231022337058ee7dfffa1c7648ebfb7d105560a62917b8c12
  Stored in directory: c:\users\dcrag\appdata\local\pip\cache\wheels\06\b2\e0\b239bd2c0ff89b98c4f0c86a63e7059f38a8dfaf6df2641c63
Successfully built bioinfokit matplotlib-venn adjustText
Installing collected packages: matplotlib-venn, tabulate, textwrap3, adjustText, bioinfokit
Successfully installed adjustText-0.7.3 bioinfokit-1.0.7 matplotlib-venn-0.11.6 tabulate-0.8.7 textwrap3-0.9.2

In [62]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [ ]:
model = old()

Ideas on kernel death:
1. if joining by state, different cities will be joined together? --> refine to match by city or county instead of state probably by county

2.  5.62 GiB for array with shape 753807573

# Analysis

In [49]:
"""
For analysis, we should find the top ten or twenty areas of worst air quality in the U.S. 
and see if there is a correlation between the coronavirus mortality

another comparing the aqi to asthma rates to see correlation

then asthma to coronavirus mortality

Then we could see top ten or twenty areas with the most significant coronavirus mortality and cross it with the aqi stacked by pollutant like in the Chicago case study, then do chi square on the variables
"""

#chose top and bottom cities based on the first occurence starting from top of the list and bottom of the list
#ozone is worse in hot weather, we noticed a trend in summer months

# x = AQI_big6df[AQI_big6df['Specie'] == 'o3'].sort_values(by = 'median', ascending = False)
# x = x.groupby('City').min()['median'].sort_values()
# x
top_5_cities_o3 = ['Chicago, Illinois', 'Milwaukee, Wisconsin', 'Madison, ', 'San Diego', 'Albuquerque','Tucson','Indianapolis','Columbus','Las Vegas','Dallas']
bottom_5_cities_o3 = ['Sacramento', 'Portland','Salem','New York','Los Angeles','Little Rock','Seattle','Nashville','Milwaukee','Denver']

In [50]:
x = master1[master1['City']]

KeyError: 'City'

# HistAQI

In [42]:
histAQI = pd.read_excel('airqualitytrendsbycity1990-2019.xlsx')
histAQI.head()

FileNotFoundError: [Errno 2] No such file or directory: 'airqualitytrendsbycity1990-2019.xlsx'

In [ ]:
histAQI_Year_column = pd.melt(histAQI, id_vars=(['Pollutant','StateAbbr','Trend Statistic']), value_vars=([1990,
                                1991,                          1992,
                                1993,                          1994,
                                1995,                          1996,
                                1997,                          1998,
                                1999,                          2000,
                                2001,                          2002,
                                2003,                          2004,
                                2005,                          2006,
                                2007,                          2008,
                                2009,                          2010,
                                2011,                          2012,
                                2013,                          2014,
                                2015,                          2016,
                                2017,                          2018,
                                2019]), var_name='Year', value_name='Pollutant Value').dropna()
histAQI_Year_column.head()

In [ ]:
cities = histAQI['Core Based Statistical Area']
y = [str(i).split() for i in cities]

states = []
for i in y:
    state = i[-1]
    states.append(state)
histAQI['StateAbbr'] = states

In [ ]:
histAQI.head()

In [ ]:
histAQI_asthma= histAQI_asthma[histAQI_asthma.StateAbbr != 'US']

In [ ]:
histAQI_asthma

In [ ]:
#copied code to fill in values from histAQI_asthma
sns.lineplot(x = "Year", y = "Pollutant Value", data = histAQI_Year_column)
plt.title('Total Pollutant Values over Time')
plt.show()

In [ ]:
sns.lineplot(x = "Year", y = "Pollutant Value", data = histAQI_Year_column)
plt.title('Total Pollutant Values over Time')
plt.show()

In [ ]:
sns.lineplot(x = "Year", y = "Pollutant Value", data = histAQI_Year_column, hue = "Pollutant")
plt.title('Pollutant Values over Time')
plt.show()

# Merge AQI and Asthma

In [ ]:
#append adds rows
# histAQI_asthma = histAQI_Year_column.append(asthma_premerge)

#merge combines
AQI_asthma = pd.merge(asthma1,AQI_big6df,
    how="left",                      
    left_on = ['state'],
    right_on = ['state'])                        
AQI_asthma

# Demographics

In [ ]:
demographics_data = pd.read_csv("https://data.cdc.gov/resource/vbim-akqf.csv")

In [ ]:
demographics_data.groupby('race_ethnicity_combined').size()

In [ ]:
demographics_data.describe()